<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home:home' %}">
      🛒 MyShop
    </a>

    <!-- Mobile toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'orders:cart' %}">
            🧺 سبد خرید
            <span class="badge bg-warning text-dark">
              {{ cart|length }}
            </span>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>