{% extends 'base.html' %}

{% block content %}
<h2>{{ product.name }}</h2>
<small>{{ product.created }}</small><br/>
<p>{{ product.price }} Toman</p>
<img src="{{ product.image.url }}" style="width: 300px;">
<p>{{ product.description }}</p><br/>

<form method="post" action="{% url 'orders:cart_add' product.id %}">
    {% csrf_token %}
    {{ form.quantity }}
    <button type="submit" class="btn btn-success">Add to Cart</button>
</form>

<br><br>
<a href="{% url 'home:home' %}" class="btn btn-secondary">Back to Home</a>
{% endblock %}