{% extends 'base.html' %}


<h3>Welcome to Home Page</h3>
{% load static %}
{% block extra_headers %} 
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}


{{% block content %}}
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
            </div>
        </div>
    {% endfor %}
{% endblock %}